body {
  width: 100%;
  margin: 0;
  height: 100%;
  padding: 0;
}
.loved {
  text-align: center;
  font-size: 60px;
  color: #1e1b46;
  font-weight: bold;
  margin-bottom: 20px;
}
.homepage {
  width: 100%;
  overflow: hidden;
}

.productsInHome {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.productNeHome {
  /* margin: 10px; */
  width: 400px;
}

.homepage .features-section .feature {
  text-align: center;
  max-width: 400px;
  height: 400px;
}

.homepage .features-section .feature h3 {
  font-weight: bold;
  color: #3b3687 !important;
  font-size: 28px;
  margin-bottom: 15px;
}

.homepage .features-section .feature p {
  font-size: 25px;
  font-weight: bold;
  color: #221f1f;
  line-height: 1.5;
}

.homepage .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.feature-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.homepage .features-section {
  padding: 180px 0px;
  background-color: #000004;
  border-radius: 0px;
}

.homepage .feature {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  /* width: 1500px; */
  margin: 0 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.homepage .feature:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.homepage .feature-icon {
  font-size: 50px;
  color: #655cdb;
  margin-bottom: 20px;
}


@media (max-width: 1258px) {
  .homepage .feature {
    width: 100%;
    margin: 10px 0; 
  }
}

@media screen and (max-width: 720px) {
  .home-h2 {
    font-size: 2em !important;
  }

  .home-p {
    font-size: 20px !important;
  }
}

.homepage-title{
  font-size: 2.5rem !important;
}

.homepage-paragraph{
  font-size: 2rem !important;
}

@media screen and (max-width: 1736px) {
  .homepage-title,.homepage-paragraph{
    font-size: 1rem !important;
  }
}

