
.wishlist-container{
    margin-top: 80px;
}

@media screen and (max-width:780px){
    .wishlist-container{
        margin-top: 70px;
    }
}

.wishlist-header {
    background-color: #665DDB;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
}

.wishlist-icon {
    
    color: #665DDB;
    margin-right: 10px;
}

.wishlist-item-wrapper {
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.item-img {
    max-width: 100px;
    margin-right: 20px;
}

.item-title {
    font-size: 24px;
    font-weight: bold;
    color: #665DDB;
}
.item-description {
    color: #666;
}

.item-price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}


.action-buttons {
    margin-top: 20px;
}
.continue-shopping {
    background-color: #333 !important;
    color: white !important;
    border: none;
    border-radius: 6px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

.proceed-to-checkout:hover, .continue-shopping:hover {
    background-color:  #3128a2;
}

.continue-shopping{
    margin-left: 20px;
}
.wishlist-header{
    text-align: center;
    font-size: larger;
}
.link{
    padding: 10px;
}

.link a{
    color: #333;
}
.link a:hover{
    color: black;
}


@media screen and (max-width:799px) {
    .wishlist-item-wrapper{
        background-color: #333;
        padding: 0;
        margin-left: 50%;
        margin-right: 50%;
    }
}