.cart-container{
    margin-top: 80px;
}

@media screen and (max-width:780px){
    .cart-container{
        margin-top: 70px;
    }
}

@media  screen and (max-width:500px) {
    .order-summary{
        width: 100% !important;
    }
}
.cart-header {
    background-color: #fff;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
}

.cart-icon {
    margin-right: 10px;
}

.cart-item-wrapper {
    margin-bottom: 20px;
    padding: 20px;
    flex-grow: 1;
}

.item-img {
    max-width: 100px;
    margin-right: 20px;
}

.item-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.item-description {
    color: #666;
}

.item-price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.order-summary {
    padding: 24px;
    text-align: center;
    width: 500px;
    border-radius: 12px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
    background-color : rgba(254, 253, 255, 0.151);
    border: 1px solid #e0e0e0;
}

.order-summary-title {
    font-size: 40px;
    font-weight: bold;
    color: #655CDB;
}

.order-summary-detail {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 10px;
    color:#1e1b46;
    font-weight: bold;
    padding: 15px;
    border-bottom: 1px solid #5a5858;
}

.order-summary-detail:last-child {
    margin-bottom: 0;
    color:#655CDB;
    font-size: 30px;
}

.action-buttons {
    margin-top: 20px;
}
.action-buttons{
    margin: 20px;
}
.proceed-to-checkout, .continue-shopping {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.proceed-to-checkout:hover, .continue-shopping:hover {
    background-color:  #3128a2;
}

.order-details{
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-header{
    text-align: center;
    font-size: larger;
}
.link{
    padding: 10px;
}

.link a{
    color: #333;
}
.link a:hover{
    color: black;
}

.cart-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px 0px;

}

.cart-content > * {
    max-width: 100%;
    box-sizing: border-box;
}
