#dropdown-year{
    background-color: rgb(40, 43, 44);
    border:none;
    color: white;
}

#dropdown-year:active{
    background-color: gray !important;
}
.dropdown-year{
    /* display: flex;
    justify-content: center; */
    margin: 10px;
}

.filterByYear{
    display: flex;
    justify-content: center;
    align-items: center;
}