.checkout-success-body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;   
}

.checkout-success-content{
    margin-top: 80px;
    flex: 1;
}

.checkout-success-top{
    padding: 20px 0px;
    margin-bottom: 30px;
}

.checkout-success-top p{
    color: #1e1b46;
    font-weight: bold;
    font-size: 2em;
}

.porosite-link{
    font-size: 20px !important;
    color: #2a266799 !important;
}

.porosite-link a{
    color: #1f1f4fd4;
    font-weight: bold;
}

/* .download-faturen{
    background-color: #4e47b3 !important;
    height: 50px;
    color: white !important;
    width: 100%;

}
.download-faturen-container{

    width: 700px;
    margin: 10px auto;
}

@media  screen and (max-width:900px) {
 .download-faturen-container{
    width: 500px;
 }   
} */